#Disable cache
#Header add "disablevcache" "true"

#RewriteEngine On
## If the server is running on hppts://
##RewriteCond %{HTTPS} !=on
##RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
#
## Rewrite /foo/bar to /foo/bar.php
#RewriteRule ^([^.?]+)$ %{REQUEST_URI}.php [L]
#
## Return 404 if original request is /foo/bar.php
#RewriteCond %{THE_REQUEST} "^[^ ]* .*?\.php[? ].*$"
#RewriteRule .* - [L,R=404]
#
## Should say if request is false
## then go to page.php
## page.php now works as error page
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*) /page.php?req=$1 [L,PT]
